.social-icon,
.social-icon:link,
.social-icon:focus,
.social-icon:active,
.social-icon:active:hover,
.social-icon.active {
  color: white
}

.social-icon .fa-hover,
.social-icon:link .fa-hover,
.social-icon:focus .fa-hover,
.social-icon:active .fa-hover,
.social-icon:active:hover .fa-hover,
.social-icon.active .fa-hover {
  color: #333
}

.social-icon:hover .fa-hover {
  color: white
}

.icon-facebook:hover {
  color: #3b5998
}

.icon-youtube:hover {
  color: #cd201f
}

.icon-instagram:hover {
  color: #3f729b
}